This notebook demonstrates how to query for Session Facilitator volunteers from the PostgreSQL database belonging to a Heroku app.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

The database connection information is read from a protected file, here called
`database.ini`.  Only the owner should be able to access the file.
The contents should be the value of the Heroku config variable `DATABASE_URL`,
except that, depending on the version of sqlalchemy you're using, you may
have to change the initial part `postgres:` to `postgresql:`

If `database.ini` is not in the same folder as the notebook, specify
the path.

In [2]:
with open('database.ini','r') as f:
    db_string = f.read().strip()

    db = create_engine(db_string)

Aside: query the names of all columns in the 'participants' table

In [5]:
Q="SELECT COLUMN_NAME \
FROM INFORMATION_SCHEMA.COLUMNS \
WHERE TABLE_NAME = 'participants' \
ORDER BY ORDINAL_POSITION;"
print("Q = ",Q)

Q =  SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'participants' ORDER BY ORDINAL_POSITION;

In [6]:
with db.connect() as conn:
    cols = pd.read_sql_query(Q, conn)

In [7]:
cols

        column_name
0                id
1        first_name
2         last_name
3             email
4       affiliation
5      early_career
6         in_person
7              site
8             lname
9             sname
10          pronoun
11           sprint
12           poster
13        de_school
14          contact
15        volunteer
16               CL
17              DKM
18              MCP
19              PLC
20               PO
21               PZ
22              SCS
23               SC
24               TD
25             WLSS
26           Social
27        recording
28  code_of_conduct
29        speedchat

In [27]:
# This is will retrieve the list of people wishing to volunteer as session facilitator
with db.connect() as conn:
    volunteer = pd.read_sql_query(
        "select * from participants where volunteer = 'on' order by last_name;", conn)

In [29]:
# Write the csv list to disk (for importing to a spreadsheet)
volunteer.to_csv("SFs.csv")
# Display the list below
volunteer

,id,first_name,last_name,email,affiliation,early_career,in_person,site,lname,sname,...,PO,PZ,SCS,SC,TD,WLSS,Social,recording,code_of_conduct,speedchat
0,80,Prakruth,Adari,prakruth.adari@stonybrook.edu,Stony Brook University,None,None,Remote,None,None,...,on,on,None,None,None,on,None,on,on,yes
1,64,Avijit,Bera,avijit.bera@utdallas.edu,The University of Texas at Dallas,None,None,Remote,None,None,...,None,None,None,None,None,on,None,on,on,None
2,16,Patricia,Burchat,burchat@stanford.edu,Stanford University,None,None,Remote,None,None,...,on,None,None,None,None,on,on,on,on,None
3,81,John Franklin,Crenshaw,jfc20@uw.edu,KIPAC,None,None,Remote,None,None,...,None,on,None,None,None,on,None,on,on,None
4,70,Dominique,Fouchez,fouchez@cppm.in2p3.fr,CPPM - CNRS/IN2P3,None,None,Remote,None,None,...,None,None,None,None,on,None,None,on,on,None
5,5,Christos,Georgiou,cgeorgiou@ifae.es,IFAE,None,None,Remote,None,None,...,None,None,None,None,None,on,None,on,on,None
6,26,Tesla,Jeltema,tesla@ucsc.edu,UC Santa Cruz,None,None,Remote,None,None,...,None,None,None,None,None,None,None,on,on,None
7,17,Richard,Kessler,kessler@kicp.uchicago.edu,University of Chicago,None,None,Remote,None,None,...,None,on,None,on,on,None,None,on,on,None
8,14,Shun-Sheng,Li,liss@stanford.edu,KIPAC,None,None,Remote,None,None,...,on,None,None,None,None,on,None,on,on,None
9,45,Sean,MacBride,sean.macbride@physik.uzh.ch,University of Zurich,None,None,Remote,None,None,...,None,None,None,on,on,None,None,on,on,None
10,6,Chauncey,Murphey,murphey2@illinois.edu,University of Illinois,None,None,Remote,None,None,...,None,None,None,on,on,None,on,on,on,yes
11,31,Jeffrey,Newman,janewman@pitt.edu,U. Pittsburgh / PITT PACC,None,None,Remote,None,None,...,None,on,None,None,None,None,None,on,on,None
12,56,Eske,Pedersen,eskepedersen@fas.harvard.edu,Newcastle University,None,None,Remote,None,None,...,None,on,None,None,None,on,None,on,on,yes
13,38,Corentin,Ravoux,corentin.ravoux@clermont.in2p3.fr,LPCA Clermont-Ferrand CNRS/IN2P3,None,None,Remote,None,None,...,None,None,None,on,on,None,None,on,on,None
14,82,Paul,Rogozenski,progozen@andrew.cmu.edu,Carnegie Mellon University,None,None,Remote,None,None,...,None,on,None,None,None,on,None,on,on,yes
15,43,Nacho,Sevilla Noarbe,ignacio.sevilla@ciemat.es,CIEMAT,None,None,Remote,None,None,...,None,on,None,None,None,on,None,on,on,None
16,23,Tae-hyeon,Shin,taehyeos@andrew.cmu.edu,Carnegie Mellon University,None,None,Remote,None,None,...,on,on,None,None,None,on,None,on,on,None
17,28,Connor,Stone,connorstone628@gmail.com,University of Toronto,None,None,Remote,None,None,...,None,None,None,None,on,None,None,on,on,yes
18,59,Holden,Truman,trumanh@msoe.edu,Milwaukee School of Engineering,None,None,Remote,None,None,...,None,on,None,None,on,on,None,on,on,yes
19,66,Amanda,Wasserman,amandaw8@illinois.edu,University of Illinois Urbana-Champaign,None,None,Remote,None,None,...,None,None,None,None,on,None,None,on,on,None
20,9,Prince,Yadav,princey2@illinois.edu,PhD Student at UIUC under Prof. Xin Liu resear...,None,None,Remote,None,None,...,on,on,None,None,None,None,on,on,on,yes
21,10,Tianqing,Zhang,tq96zhang@gmail.com,University of Pittsburgh,None,None,Remote,None,None,...,on,on,None,None,None,on,on,on,on,yes